.AppletSearchBar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  user-select: none;
  pointer-events: none;

  .left-padding {
    flex: 1;
    min-width: 80px;
  }

  .right-padding {
    min-width: 160px;
    flex: 1;
  }

  .AppletSearch {
    pointer-events: visible;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 10px;
    background-color: var(--background-color-content);
    width: 40%;
    max-width: 320px;
    text-align: center;
    height: 24px;
    font-size: var(--font-size);

    &:hover {
      background-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 5%);
      border-color: color-mix(in srgb, var(--border-color), var(--opposite-color) 5%);
      cursor: pointer;
    }
  }

  .AppletSearchResult {
    position: fixed;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    pointer-events: all;
    background-color: var(--background-color-content);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    border-radius: 4px;

    .search {
      margin: 5px;
      flex: 1;
      padding: 4px 7px;
      background-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 5%);
      border: 1px solid var(--accent-color-light-60);
      border-radius: 4px;
      outline: none;
      color: var(--text-color);
    }

    .list {
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

    &-item {
      all: unset;
      margin: 1px 3px;
      padding: 1px 6px;
      border-radius: 4px;
      transition: all var(--transition-speed);
      cursor: pointer;

      &:hover, &.hover {
        background-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 10%);
      }
    }
  }
}
