.AppletSearchBar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  user-select: none;
  pointer-events: none;

  .left-padding {
    flex: 1;
    min-width: 80px;
  }

  .right-padding {
    min-width: 160px;
    flex: 1;
  }

  .AppletSearch {
    pointer-events: visible;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 10px;
    background-color: var(--background-color-content);
    width: 40%;
    max-width: 320px;
    text-align: center;
    height: 24px;
    font-size: var(--font-size);

    &:hover {
      background-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 5%);
      border-color: color-mix(in srgb, var(--border-color), var(--opposite-color) 5%);
      cursor: pointer;
    }
  }
}
