$sidebar-width: 250px;

.ToolView {
  display: flex;
  flex: 1;

  .ToolView-right-panel, .ToolView-left-panel {
    background-color: white;
    width: $sidebar-width;
    transition: all 0.2s;
    overflow: hidden;

    &.open {
      margin-right: 0;
    }
  }

  .ToolView-left-panel {
    border-right: 1px solid var(--border-color);
    margin-left: -$sidebar-width;
    &.open {
      margin-left: 0;
    }
  }

  .ToolView-right-panel {
    border-left: 1px solid var(--border-color);
    margin-right: -$sidebar-width;
    &.open {
      margin-right: 0;
    }
  }

  .ToolView-panel-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;

    .item {
      text-align: center;
      padding: 3px 0;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #fcfcfc;
      }
    }
  }

  .ToolView-main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
