.Button {
  border: 1px solid var(--button-border-color);
  background: var(--button-background-color);
  border-radius: var(--border-radius);
  padding: 0 10px;
  user-select: none;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  height: 30px;
  color: var(--text-color);
  word-break: keep-all;
  white-space: nowrap;

  &:hover {
    border-color: var(--button-border-color-hover);
    background: var(--button-background-color-hover);
  }

  &:active {
    border-color: var(--button-border-color-active);
    background: var(--button-background-color-active);
  }

  img {
    width: 13px;
    margin-right: 7px;
    filter: var(--icon-color);
  }
}
