$padding: 10px;

.AppTitlebar {
  height: var(--app-titlebar-height);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--app-titlebar-background-color);

  .AppTitlebar-main {
    padding: 0 7px;
    display: flex;
    align-items: center;
    gap: 3px;

    .AppTitlebar-main-button {
      display: flex;
      border-radius: var(--border-radius);
      padding: 5px;

      &:hover {
        background-color: rgb(224, 224, 224);
        cursor: pointer;
      }
    }
  }

  .AppTitlebar-control {
    .titlebar-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: var(--app-titlebar-height);

      img {
        width: 14px;
      }
    }

    .titlebar-button:hover {
      background: #bdbdbd;
    }
  }

  .AppTitlebarSearch {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    user-select: none;
    pointer-events: none;

    .ToolSearch {
      pointer-events: visible;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      padding: 0 10px;
      background-color: white;
      width: 40%;
      max-width: 320px;
      text-align: center;
      height: 24px;
      font-size: var(--font-size);

      &:hover {
        background-color: var(--accent-color-light-2);
        border-color: var(--accent-color-light);
        cursor: pointer;
      }
    }

    .ToolSearchResult {
      position: fixed;
      z-index: 12121212;
      width: 350px;
      max-height: 300px;
      overflow: auto;
      pointer-events: all;
      background-color: white;
      border: 1px solid rgb(228, 228, 228);
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      border-radius: 4px;

      .search {
        margin: 5px;
        flex: 1;
        padding: 4px 7px;
        background-color: var(--accent-color-light-2);
        border: 1px solid var(--accent-color-light);
        border-radius: 4px;
        outline: none;
      }

      .list {
        overflow: auto;
        display: flex;
        flex-direction: column;
      }

      &-item {
        all: unset;
        margin: 1px 3px;
        padding: 1px 6px;
        border-radius: 4px;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background: var(--accent-color);
          color: white;
        }

        &:focus {
          background-color: var(--accent-color-light-2);
        }
      }
    }
  }
}
