.rc-tooltip {
  pointer-events: none;
}

.rc-tooltip-inner {
  min-height: auto;
  user-select: none;
  font-size: 13px;
  padding: 5px 7px;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background-color);
  border: 1px solid var(--tooltip-border-color);
  border-radius: var(--border-radius);
}
