.WindowControls {
  display: flex;
  align-items: center;
  height: var(--session-tabbar-height);
}

.SessionTabbar {
  .WindowControls {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.WindowControls-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--session-tabbar-height);
  width: var(--window-control-button-width);
  user-select: none;
  transition: background-color var(--animation-speed);

  &:hover {
    background: var(--hover);
  }

  &--close:hover {
    background-color: #c42b1c;
  }

  svg {
    flex: none;
    color: var(--icon-color);
  }

  &:hover svg {
    color: var(--text-color);
  }

  &--close:hover svg {
    color: #ffffff;
  }
}

.WindowControls-layout-controls {
  display: flex;
  margin: 0 10px;
  gap: 2px;
  align-items: center;
}

.WindowControls-window-controls {
  display: flex;
}

.AppRoot.withTabbar {
  .WindowControls {
    top: calc(0px - var(--session-tabbar-draggable-height));
    padding-bottom: var(--session-tabbar-draggable-height);
  }
}

.AppRoot.withTabbar.withMaximized {
  .WindowControls {
    top: 0;
    padding-bottom: 0;
  }
}
