.WindowControls {
  .WindowControls-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: var(--window-control-button-height);
    width: var(--window-control-button-width);

    &:hover {
      background: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 10%);
    }

    img {
      width: 14px;
      filter: var(--icon-color);
    }
  }
}
