.Dropdown {
  border: 1px solid var(--input-output-border-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--input-output-text-color);
  background-color: var(--input-output-background-color);
  gap: 10px;
  padding: var(--input-output-padding);
  padding-inline: 10px;
  min-width: 120px;
  transition: border-color var(--animation-speed), background-color var(--animation-speed);

  &:hover {
    cursor: pointer;
    border-color: var(--input-output-border-color-hover);
  }

  img {
    width: 13px;
    filter: var(--icon-color-filter);
  }
}

.DropdownMenu {
  .contexify_item.selected > .contexify_itemContent {
    background-color: var(--menu-item-background-color-hover);
    border-radius: var(--radius-sm);
  }
}
