.AppletHeader {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding: 6px 8px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  justify-content: center;
  background-color: var(--applet-header-background-color);
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 15px 15px 1px;

  .AppletHeader-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .AppletHeader-title {
    font-weight: var(--font-weight-semibold);
  }

  .AppletHeader-button-list {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .toolbar-button {
    border: 1px solid var(--border-default);
    background: transparent;
    border-radius: var(--radius-md);
    padding: 3px 9px;
    transition: background-color var(--animation-speed), border-color var(--animation-speed);
    user-select: none;
    cursor: pointer;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    font-size: var(--font-size);

    &:hover {
      background: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 10%);
    }

    &:active {
      background: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 7%);
    }

    img {
      width: 12px;
      margin-right: 5px;
      filter: var(--icon-color-filter);
    }
  }
}
