.ToolSidebar {
  &-section {
    &:first-child {
      .ToolSidebar-section-title {
        padding-top: 0;
      }
    }

    &-title {
      padding-inline: 11px;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 3px;
      padding-top: 15px;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .ToolSidebar-section-title {
    user-select: none;
  }

  .ToolSidebarItem {
    display: flex;
    gap: 7px;
    align-items: center;
    color: var(--tool-sidebar-text-color);

    img {
      width: 14px;
      filter: var(--tool-sidebar-icon-color);
    }

    &.active {
      color: var(--tool-sidebar-text-color-active);

      img {
        width: 14px;
        filter: var(--tool-sidebar-icon-color-active);
      }
    }
  }
}
