.ToolSidebar {
  &-section {
    &:first-child {
      .ToolSidebar-section-title {
        padding-top: 0;
      }
    }

    &-title {
      padding-inline: 11px;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 3px;
      padding-top: 15px;
      display: none;

      &.show {
        display: block;
      }
    }
  }
}
