.ToolRunButton {
  height: 30px;
  padding: 0 10px !important;

  &:hover {
    background: var(--accent-color-light-20) !important;
  }

  &:active {
    background: var(--accent-color-dark-20) !important;
  }
}
