.SingleTextInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  input {
    border-radius: var(--border-radius);
    padding: 7px 5px;
    outline: none !important;
    font-size: 14px;
    line-height: 1;
    resize: none;
    text-wrap: nowrap;
    border: 1px solid #dadada;
    background-color: #f9f9f9;

    &:hover {
      border: 1px solid #97b1e6;
    }

    &:focus {
      border: 1px solid #4974cc;
    }
  }
}
