.SingleTextInput {
  display: flex;
  flex-direction: column;

  input {
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    outline: none !important;
    font-size: 14px;
    line-height: 1;
    text-wrap: nowrap;
    border: 1px solid #dadada;
    background-color: #f9f9f9;
    font-family: monospace;

    &:hover {
      border: 1px solid var(--accent-color-light-60);
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}
