.SettingsPage {
  flex: 1;
  background-color: var(--settings-background-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  overflow: auto;

  .SettingsPage-section {
    width: 100%;
    max-width: 700px;

    .SettingsPage-section-title {
      font-size: 20px;
      margin-bottom: 15px;
      margin-left: 5px;
    }

    .SettingsPage-section-body {
      background-color: var(--settings-card-background-color);
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }

  .SettingsPage-item {
    display: flex;
    gap: 5px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }

  .SettingsPage-item-label {
    strong {
      margin-left: 2px;

      &:before {
        content: ": ";
        font-weight: normal;
      }
    }
  }
}
