.Input {
  border-radius: var(--border-radius);
  padding: var(--input-output-padding);
  outline: none !important;
  line-height: 1;
  height: 17px;
  text-wrap: nowrap;
  border: 1px solid var(--input-output-border-color);
  background-color: var(--input-output-background-color);
  font-family: var(--font-family-mono);
  transition: all var(--animation-speed);
  min-width: 100px;

  &:focus {
    border: 1px solid var(--color-primary);
  }
}
