.Input {
  border-radius: var(--border-radius);
  padding: var(--input-output-padding);
  outline: none !important;
  font-size: var(--input-output-font-size);
  line-height: 1;
  text-wrap: nowrap;
  border: 1px solid var(--border-color);
  background-color: var(--input-output-background-color);
  font-family: var(--font-family-mono);
  transition: all var(--transition-speed);

  &:hover {
    border: 1px solid var(--accent-color-light-60);
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }
}
