$padding: var(--input-output-fields-spacing);

.AppletComponentArea {
  flex: 1;
  gap: $padding;
  padding: $padding;

  &.grid {
    display: grid;
  }

  &.flex {
    display: flex;

    &.horizontal {
      flex-direction: row;
    }

    &.vertical {
      flex-direction: column;
    }
  }

  .AppletComponentAreaInput {
    grid-area: input;
  }

  .AppletComponentAreaOutput {
    grid-area: output;
  }

  .AppletComponentAreaInput, .AppletComponentAreaOutput {
    overflow: hidden;
    position: relative;
    flex: 1;
    gap: $padding;

    &.grid {
      display: grid;
    }

    &.flex {
      display: flex;

      &.horizontal {
        flex-direction: row;
      }

      &.vertical {
        flex-direction: column;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
