.AppSidebar {
  border-right: 1px solid var(--border-color);
  width: 100%;
  max-width: 40px;
  overflow: auto;
  background-color: var(--sidebar-background-color);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 3px;
  padding-left: 1px;

  .icon {
    margin: 0 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    position: relative;

    &:hover {
      background-color: rgb(221, 221, 221);
      cursor: pointer;
    }

    img {
      display: flex;
      align-items: center;
      width: 20px;
      margin: auto;
      filter: invert(23%) sepia(1%) saturate(4546%) hue-rotate(38deg) brightness(105%) contrast(85%);
    }

    .tooltip-text {
      display: none;
      position: fixed;
      margin-left: 35px;
      padding: 2px 5px;
      background-color: #333;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
    }

    &:hover .tooltip-text {
      display: block;
    }
  }
}
