$sidebar-width: 180px;

.AppletViewer {
  display: flex;
  flex: 1;
  overflow: hidden;
  background: var(--applet-viewer-background-color);
}

.AppletViewer-inner {
  display: flex;
  flex: 1;
  flex-direction: column;

  .AppletViewer-right-panel, .AppletViewer-left-panel {
    background-color: var(--background-color-main);
    width: $sidebar-width;
    transition: all var(--animation-speed);
    overflow: auto;

    &.open {
      margin-right: 0;
    }
  }

  .AppletViewer-left-panel {
    border-right: 1px solid var(--border-color);
    margin-left: -$sidebar-width;
    &.open {
      margin-left: 0;
    }
  }

  .AppletViewer-right-panel {
    border-left: 1px solid var(--border-color);
    margin-right: -$sidebar-width;
    &.open {
      margin-right: 0;
    }
  }

  .AppletViewer-panel-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;

    .item {
      text-align: center;
      padding: 3px 0;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #fcfcfc;
      }
    }
  }

  .AppletViewer-main-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .simplebar-content {
      min-height: 100%;
      display: flex;
    }
  }
}

.AppletSidebarItem {
  display: flex;
  flex-direction: column;
}

.AppletSidebarItem-label {
  font-weight: 600;
}
