.SingleTextareaInput {
  height: 100%;
  display: flex;
  flex-direction: column;

  textarea {
    flex: 1;
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    outline: none !important;
    font-size: 14px;
    line-height: 1;
    resize: none;
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    background-color: #f9f9f9;

    &:hover {
      border: 1px solid var(--accent-color-light);
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}
