$checkSize: 5px;
$checkBackgroundColor: #ffffff;
$checkColor: rgba(100, 100, 100, .25);

.ColorPalleteOutput {
  display: flex;
  flex-direction: column;
}

.ColorPalleteOutput-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;

  &.singleColor {
    grid-template-columns: 1fr;
  }
}

.ColorPalleteOutput-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.ColorPalleteOutput-color {
  width: 100%;
  height: 100px;

  background-color: $checkBackgroundColor;
  background-image: linear-gradient(45deg, $checkColor 25%, transparent 25%),
    linear-gradient(135deg, $checkColor 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, $checkColor 75%),
    linear-gradient(135deg, transparent 75%, $checkColor 75%);
  background-size: calc(2 * $checkSize) calc(2 * $checkSize);
  background-position: 0 0, $checkSize 0, $checkSize calc(-1 * $checkSize), 0 calc(-1 * $checkSize);
}

.ColorPalleteOutput-pallete {
  width: 100%;
  height: 100%;
}

.ColorPalleteOutput-info {
  padding: var(--input-output-padding);
  background-color: var(--input-output-background-color);
  align-items: center;
  justify-content: center;
}
