$padding: var(--input-output-fields-spacing);

.ToolArea {
  flex: 1;
  display: grid;
  padding: $padding;
  background: var(--tool-area-background-color);

  &.side-by-side {
    grid-template-columns: 1fr 1fr;
    column-gap: $padding;
  }

  &.top-bottom {
    grid-template-rows: 1fr 1fr;
    row-gap: $padding;
  }

  &.top-bottom-push-top {
    grid-template-rows: auto 1fr;
    row-gap: $padding;
  }

  &.top-bottom-push-bottom {
    grid-template-rows: 1fr auto;
    row-gap: $padding;
  }

  &.separated-input-output {
    padding: unset;
    column-gap: unset;
    row-gap: unset;

    .ToolAreaInput, .ToolAreaOutput {
      padding: $padding;
    }

    &.side-by-side {
      .ToolAreaInput {
        border-right: 1px solid var(--border-color);
      }
    }

    &.top-bottom, &.top-bottom-push-top, &.top-bottom-push-bottom {
      .ToolAreaInput {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }

  &.reversed {
    .ToolAreaInput {
      order: 1;
    }
  }

  .ToolAreaInput, .ToolAreaOutput {
    overflow: auto;
    position: relative;
    flex: 1;
    display: flex;
    gap: $padding;

    &.horizontal {
      flex-direction: row;
    }

    &.vertical {
      flex-direction: column;
    }
  }
}
