.contextmenu {
  border: 1px solid var(--border-color);
  background-color: var(--background-color-main) !important;
  min-width: 200px;
  max-width: 300px;
  border-radius: var(--border-radius);
  padding: 0px !important;

  .contextmenu__divider {
    border-bottom: 1px solid var(--border-color);
  }

  .contextmenu__item {
    font-size: 14px;
    margin-bottom: 0;
    padding: 3px 14px !important;
    border-radius: var(--border-radius);
    margin: 3px;
    transition: none;
    color: var(--text-color);

    &:hover {
      background: #323232 !important;
    }
  }
}
