body {
  // Colors
  --accent-color: #275efe;
  --accent-color-light-20: color-mix(in srgb, var(--accent-color), #ffffff 20%);
  --accent-color-light-40: color-mix(in srgb, var(--accent-color), #ffffff 40%);
  --accent-color-light-60: color-mix(in srgb, var(--accent-color), #ffffff 60%);
  --accent-color-light-80: color-mix(in srgb, var(--accent-color), #ffffff 80%);

  --accent-color-dark-20: color-mix(in srgb, var(--accent-color), #000000 20%);
  --accent-color-dark-40: color-mix(in srgb, var(--accent-color), #000000 40%);
  --accent-color-dark-60: color-mix(in srgb, var(--accent-color), #000000 60%);
  --accent-color-dark-80: color-mix(in srgb, var(--accent-color), #000000 80%);

  // General
  --border-radius: 4px;

  // App Titlebar
  --app-titlebar-height: 37px;
  --window-control-button-width: 50px;
  --window-control-button-height: 36px;

  // Tool
  --tool-header-height: 45px;
  --tool-tabbar-height: 37px;
  --tool-tabbar-item-max-width: 200px;

  // Animations
  --transition-speed: 0s;

  // Sidebar
  --activitybar-width: 50px;
  --activitybar-item-height: 30px;
  --primary-sidebar-width: 250px;

  // Input and output component styles
  --input-output-fields-spacing: 15px;
  --input-output-label-height: 13px;
  --input-output-label-spacing: 10px;
  --input-output-padding: 7px;
  --input-output-font-size: 14px;

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  // Plugins
  --contexify-menu-shadow: none;
  --contexify-menu-minWidth: 250px;
  --contexify-menu-padding: 5px;
  --contexify-menu-radius: var(--border-radius);
  --contexify-itemContent-padding: 5px 10px;

  .contexify {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  background-color: var(--background-color-main);
}

body.light {
  // General
  --border-color: #cbcccd;
  --text-color: #0f0f0f;
  --icon-color: invert(23%) sepia(1%) saturate(4546%) hue-rotate(38deg) brightness(105%) contrast(85%);

  // Theme color
  --opposite-color: #939393;

  // Main text color
  color: var(--text-color);

  // Button
  --button-background-color: linear-gradient(0deg, #f7f7f7 0%, #ffffff 100%);
  --button-background-color-hover: #efefef;
  --button-background-color-active: #ececec;
  --button-border-color: #cbcccd;
  --button-border-color-hover: #cbcccd;
  --button-border-color-active: #cbcccd;

  // App Content
  --background-color-main: #ffffff;
  --background-color-content: #ffffff;

  // App Sidebar
  --primary-sidebar-background-color: #f6f8fa;
  --activitybar-item-background-color-hover: #dfdddd;
  --activitybar-item-background-color-active: #d6d6d6;

  // App Statusbar
  --statusbar-background-color: #f6f6f6;

  // Input and output fields component
  --input-output-background-color: #ffffff;
  --input-output-border-color: var(--border-color);
  --input-output-border-color-hover: color-mix(in srgb, var(--border-color), var(--opposite-color) 50%);
  --input-output-border-color-active: var(--input-output-border-color-hover);

  // Tool component styles
  --tool-header-background-color: #ffffff;
  --tool-area-background-color: #f9f9fc;
  --tool-tabbar-color: #ffffff;
  --tool-tabbar-color-hover: #f6f8fa;
  --tool-tabbar-text-color: #585858;
  --tool-tabbar-text-color-active: #000000;
  --tool-sidebar-text-color: #212418;
  --tool-sidebar-text-color-active: #ffffff;
  --tool-sidebar-icon-color: invert(11%) sepia(7%) saturate(1891%) hue-rotate(34deg) brightness(98%) contrast(92%);
  --tool-sidebar-icon-color-active: invert(98%) sepia(1%) saturate(321%) hue-rotate(234deg) brightness(116%) contrast(100%);

  // Settings page
  --settings-background-color: #f9f9fc;
  --settings-card-background-color: #ffffff;

  // Scrollbar
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }

  // Simplebar
  .simplebar-scrollbar:before {
    background: rgba(0,0,0,0.5);
  }

  // Context menu
  .contexify {
    border: 1px solid #cacaca;

    .contexify_itemContent {
      color: #3b3b3b;
    }

    .contexify_item:not(.contexify_item-disabled):focus>.contexify_itemContent,
    .contexify_item:not(.contexify_item-disabled):hover>.contexify_itemContent,
    .contexify_submenu-isOpen, .contexify_submenu-isOpen>.contexify_itemContent {
      background-color: #e8e8e8;
      color: #1d1d1d;
    }
  }
}

body.dark {
  // General
  --border-color: #313131;
  --text-color: #e0e0e0;
  --icon-color: invert(90%) sepia(6%) saturate(178%) hue-rotate(187deg) brightness(94%) contrast(88%);

  // Theme color
  --opposite-color: #ffffff;

  // Main text color
  color: var(--text-color);

  // Button
  --button-background-color: #262626;
  --button-background-color-hover: #26282a;
  --button-background-color-active: #1a1c1e;
  --button-border-color: #3e3e3e;
  --button-border-color-hover: #3e3e3e;
  --button-border-color-active: #3e3e3e;

  // App Content
  --background-color-main: #1a1b1d;
  --background-color-content: #222429;

  // App Sidebar
  --primary-sidebar-background-color: #222429;
  --activitybar-item-background-color-hover: #5a5b5e;
  --activitybar-item-background-color-active: #434549;

  // App Statusbar
  --statusbar-background-color: #181818;

  // Input and output fields component
  --input-output-background-color: #1e1e1e;
  --input-output-border-color: var(--border-color);
  --input-output-border-color-hover: color-mix(in srgb, var(--border-color), var(--opposite-color) 7%);
  --input-output-border-color-active: var(--input-output-border-color-hover);

  // Tool component styles
  --tool-header-background-color: #181818;
  --tool-area-background-color: #202124;
  --tool-tabbar-background-color: #1a1b1d;
  --tool-tabbar-color: #1a1b1d;
  --tool-tabbar-color-hover: #1f2022;
  --tool-tabbar-text-color: #939393;
  --tool-tabbar-text-color-active: white;
  --tool-sidebar-text-color: #cfcfcf;
  --tool-sidebar-text-color-active: #ffffff;
  --tool-sidebar-icon-color: invert(99%) sepia(3%) saturate(156%) hue-rotate(232deg) brightness(106%) contrast(62%);
  --tool-sidebar-icon-color-active: invert(98%) sepia(1%) saturate(321%) hue-rotate(234deg) brightness(116%) contrast(100%);

  // Settings page
  --settings-background-color: #202124;
  --settings-card-background-color: #1f2023;

  // HTML Input
  input, textarea, select, option {
    color: var(--text-color);
  }

  // Scrollbar
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #393a3f;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }

  // Simplebar
  .simplebar-scrollbar:before {
    background: rgba(255,255,255,0.2);
  }

  // Context menu
  .contexify {
    border: 1px solid #313131;
    background-color: #1e1f22;

    .contexify_itemContent {
      color: #e0e0e0;
    }

    .contexify_item:not(.contexify_item-disabled):focus>.contexify_itemContent,
    .contexify_item:not(.contexify_item-disabled):hover>.contexify_itemContent,
    .contexify_submenu-isOpen, .contexify_submenu-isOpen>.contexify_itemContent {
      background-color: #323232;
      color: #ffffff;
    }
  }
}
