body {
  --accent-color-light-20: color-mix(in srgb, var(--accent-color), #ffffff 20%);
  --accent-color-light-40: color-mix(in srgb, var(--accent-color), #ffffff 40%);
  --accent-color-light-60: color-mix(in srgb, var(--accent-color), #ffffff 60%);
  --accent-color-light-80: color-mix(in srgb, var(--accent-color), #ffffff 80%);

  --accent-color-dark-20: color-mix(in srgb, var(--accent-color), #000000 20%);
  --accent-color-dark-40: color-mix(in srgb, var(--accent-color), #000000 40%);
  --accent-color-dark-60: color-mix(in srgb, var(--accent-color), #000000 60%);
  --accent-color-dark-80: color-mix(in srgb, var(--accent-color), #000000 80%);
}
