@import url("_fonts.scss");

$padding: 10px;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --font-family: "Inter", serif;
  --font-family-mono: "Consolas", monospace, serif;
  --font-size: 13px;
}

.AppRoot {
  // Colors
  --accent-color: #0163e1;
  --accent-color-light-20: color-mix(in srgb, var(--accent-color), #ffffff 20%);
  --accent-color-light-40: color-mix(in srgb, var(--accent-color), #ffffff 40%);
  --accent-color-light-60: color-mix(in srgb, var(--accent-color), #ffffff 60%);
  --accent-color-light-80: color-mix(in srgb, var(--accent-color), #ffffff 80%);

  --accent-color-dark-20: color-mix(in srgb, var(--accent-color), #000000 20%);
  --accent-color-dark-40: color-mix(in srgb, var(--accent-color), #000000 40%);
  --accent-color-dark-60: color-mix(in srgb, var(--accent-color), #000000 60%);
  --accent-color-dark-80: color-mix(in srgb, var(--accent-color), #000000 80%);

  // General
  --border-radius: 4px;

  // App Titlebar
  --app-titlebar-height: 37px;

  // Tool
  --tool-header-height: 45px;
  --tool-tabbar-height: 35px;

  // Animations
  --transition-speed: 0.15s;

  // Sidebar
  --sidebar-width: 50px;
  --sidebar-item-height: 30px;
  --sidebar-content-width: 250px;

  // Input and output component styles
  --input-output-fields-spacing: 15px;
  --input-output-label-spacing: 10px;
  --input-output-padding: 7px;
  --input-output-font-size: 14px;

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
}

.AppRoot.light {
  // General
  --border-color: #dddddd;
  --text-color: #0f0f0f;
  --icon-color: invert(23%) sepia(1%) saturate(4546%) hue-rotate(38deg) brightness(105%) contrast(85%);

  // Button
  --button-color: linear-gradient(0deg, #f7f7f7 0%, #ffffff 100%);
  --button-hover-color: #efefef;
  --button-active-color: #ececec;

  // App Content
  --background-color-main: #f6f6f6;
  --background-color-content: #ffffff;

  // App Sidebar
  --sidebar-item-background-color-hover: #dfdddd;
  --sidebar-item-background-color-active: #d6d6d6;
  --sidebar-content-background-color: #ffffff;

  // App Statusbar
  --statusbar-background-color: #f6f6f6;

  // Input component styles
  --input-output-background-color: #ffffff;

  // Tool component styles
  --tool-header-background-color: #ffffff;
  --tool-area-background-color: #f9f9fc;

  --tool-tabbar-text-color: #818181;
  --tool-tabbar-text-color-active: #000000;

  // Theme color
  --opposite-color: #939393;

  // Main text color
  color: var(--text-color);

  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }
}

.AppRoot.dark {
  // General
  --border-color: #313131;
  --text-color: #e0e0e0;
  --icon-color: invert(90%) sepia(6%) saturate(178%) hue-rotate(187deg) brightness(94%) contrast(88%);

  // Button
  --button-color: #3c3c3c;
  --button-hover-color: #26282a;
  --button-active-color: #1a1c1e;

  // App Content
  --background-color-main: #1a1b1d;
  --background-color-content: #222429;

  // App Sidebar
  --sidebar-item-background-color-hover: #5a5b5e;
  --sidebar-item-background-color-active: #434549;
  --sidebar-content-background-color: #222429;

  // App Statusbar
  --statusbar-background-color: #1e1f22;

  // Input component styles
  --input-output-background-color: #1e1e1e;

  // Tool component styles
  --tool-header-background-color: #212121;
  --tool-area-background-color: #272727;

  --tool-tabbar-text-color: rgb(147, 147, 147);
  --tool-tabbar-text-color-active: white;

  // Theme color
  --opposite-color: #ffffff;

  // Main text color
  color: var(--text-color);

  input, textarea, select, option {
    color: var(--text-color);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }
}

.InputOutputLabel {
  line-height: 1;
  margin-bottom: var(--input-output-label-spacing);
  user-select: none;

  &:empty {
    display: none;
  }
}

.AppRoot {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 24px;
  font-weight: 400;
  //background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.AppContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color-main);
  position: relative;
}

.AppContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  // TODO: Watch changes, from auto
  overflow-y: hidden;
  border-top-left-radius: 10px;
  border: 1px solid var(--border-color);
  border-right: 0;
  border-bottom: 0;
  background-color: var(--background-color-content);
}

.CodeMirrorContainer {
  position: relative;
  flex: 1;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all var(--transition-speed);
  min-height: 150px;

  .cm-theme {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-height: 150px;

    .cm-editor {
      height: 100%;
      max-height: 100%;
    }

    .cm-editor.cm-focused { outline: 2px solid cyan }
    .cm-editor .cm-content {
      font-family: var(--input-output-font-size);
      font-size: calc(1px + var(--font-size));
      font-weight: 500;
    }
  }

  &:hover {
    border-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 20%);
  }

  &:focus-within {
    border: 1px solid var(--accent-color);
  }
}
