@import url("_fonts.scss");

$padding: 10px;

html, body {
  margin: 0;
  padding: 0;
}

html {
  // Colors
  --accent-color: #0163e1;
  --accent-color-light-20: color-mix(in srgb, var(--accent-color), #ffffff 20%);
  --accent-color-light-40: color-mix(in srgb, var(--accent-color), #ffffff 40%);
  --accent-color-light-60: color-mix(in srgb, var(--accent-color), #ffffff 60%);
  --accent-color-light-80: color-mix(in srgb, var(--accent-color), #ffffff 80%);

  --accent-color-dark-20: color-mix(in srgb, var(--accent-color), #000000 20%);
  --accent-color-dark-40: color-mix(in srgb, var(--accent-color), #000000 40%);
  --accent-color-dark-60: color-mix(in srgb, var(--accent-color), #000000 60%);
  --accent-color-dark-80: color-mix(in srgb, var(--accent-color), #000000 80%);


  --border-color: #DADADA;

  --font-size: 13px;

  // General
  --border-radius: 4px;

  // App Content
  --background-color-content: #f6f6f6;

  // App Statusbar
  --background-color-statusbar: #f6f6f6;

  // App Titlebar
  --app-titlebar-height: 35px;
  --app-titlebar-background-color: #f6f6f6;

  // Input component styles
  --input-padding: 6px;

  // Output component styles
  --output-padding: 6px;

  // Input and output component styles
  --input-output-label-spacing: 10px;
  --input-output-font-size: 14px;

  // Sidebar
  --sidebar-width: 250px;
  --sidebar-background-color: #f6f6f6;

  // Tool Header
  --tool-header-height: 40px;
  --tool-header-background-color: #ffffff;
}

.InputOutputLabel {
  line-height: 1;
  margin-bottom: var(--input-output-label-spacing);
  user-select: none;

  &:empty {
    display: none;
  }
}

:root {
  font-family: "Inter";
  font-size: var(--font-size);
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.AppRoot {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.AppContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color-content);
  position: relative;
}

.AppContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-top-left-radius: 10px;
  border: 1px solid var(--border-color);
  border-right: 0;
  border-bottom: 0;
  background-color: #ffffff;
}
