.AppRoot {
  &.dark {
    .MarkdownOutput {
      @import "github-markdown-css/github-markdown-light.css";
    }
  }

  &.light {
    .MarkdownOutput {
      @import "github-markdown-css/github-markdown-dark.css";
    }
  }
}

.MarkdownOutput {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.MarkdownOutput-inner {
  border: 1px solid var(--input-output-border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-output-background-color);
  overflow: hidden;
  flex: 1;
  display: flex;
  position: relative;

  .body {
    position: absolute;
    inset: 0;
    overflow: auto;
    padding: 0 10px;
  }
}
