.ToolSidebarItem {
  padding: 4px 13px;
  cursor: pointer;
  user-select: none;
  display: flex;
  gap: 7px;
  align-items: center;
  color: var(--tool-sidebar-text-color);

  &:hover {
    background: var(--tool-sidebar-background-color-hover)
  }

  img {
    width: 14px;
    // filter: var(--tool-sidebar-icon-color);
  }

  &.active {
    color: var(--tool-sidebar-text-color-active);
    background-color: var(--tool-sidebar-background-color-active);

    img {
      width: 14px;
      // filter: var(--tool-sidebar-icon-color-active);
    }
  }
}
