.Select {
  display: flex;
  flex-direction: column;

  select {
    opacity: 1;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: #f9f9f9;
    padding: var(--input-padding);
    outline: none;
  }
}
