.ButtonIcon {
  display: grid;
  place-items: center;
  flex: none;
  min-width: 28px;
  height: 28px;
  user-select: none;
  border-radius: var(--radius-md);
  transition: background-color var(--animation-speed);

  &:hover {
    background: var(--hover);
    cursor: pointer;
  }

  &:active {
    background: var(--accent-soft);
    cursor: pointer;
  }

  svg {
    flex: none;
    color: var(--icon-color);
    transition: color var(--animation-speed);
  }

  &:hover svg {
    color: var(--text-color);
  }
}
