.TextareaInput {
  height: 100%;
  display: flex;
  flex-direction: column;

  textarea {
    flex: 1;
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    outline: none !important;
    font-size: var(--input-output-font-size);
    line-height: 1.15;
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    background-color: var(--input-background-color);
    resize: none;
    transition: all var(--transition-speed);
    font-family: var(--font-family-mono);

    &:hover {
      border-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 20%);
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}

.ToolArea.text-area-word-wrap {
  .TextareaInput textarea {
    text-wrap: wrap;
  }
}

.ToolAreaInput.horizontal {
  .TextareaInput {
    flex: 1;
  }
}
