.ImageOutput {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ImageOutput-inner {
  position: relative;
  flex: 1;
}

.ImageOutput-image {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
