.FileInput {
  display: flex;
  flex-direction: column;
}

.FileInputPicker {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-output-background-color);
  padding: 20px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    border-color: var(--input-output-border-color-hover);
  }
}
