

.ZoomableContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .react-transform-wrapper {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    flex: 1;
  }
}

.ZoomableContent-actions {
  display: flex;
  gap: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ZoomableContent-body {
  position: relative;
  flex: 1;
}

.ZoomableContent-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--input-output-border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  background: #ffffff;

  --checkered-size: 12px;
  --checkered-background-color: #ffffff;
  --checkered-color: rgba(100, 100, 100, .25);

  &.checkered {
    background-color: checkeredBackgroundColor;
    background-image:
      linear-gradient(45deg, var(--checkered-color) 25%, transparent 25%),
      linear-gradient(135deg, var(--checkered-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--checkered-color) 75%),
      linear-gradient(135deg, transparent 75%, var(--checkered-color) 75%);
    background-size: calc(2 * var(--checkered-size)) calc(2 * var(--checkered-size));
    background-position: 0 0, var(--checkered-size) 0, var(--checkered-size) calc(-1 * var(--checkered-size)), 0 calc(-1 * var(--checkered-size));
  }
}

body.dark {
  .ZoomableContent-content {
    background: #292a30;
    --checkered-background-color: #292a3;
  }
}
