.ToolHistoryList {
  .ToolHistoryList-item {
    border-radius: var(--border-radius);
    padding: 1px 5px;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s;
    margin: 2px 5px;
    font-family: monospace;

    &:hover {
      background: var(--accent-color-light-2);
    }

    &.active {
      background: var(--accent-color);
      color: white;
    }
  }
}
