.ToolHistoryList {
  border-top: 1px solid var(--border-color);

  .ToolHistoryList-item {
    border-radius: var(--border-radius);
    margin: 2px 7px;
    padding: 2px 6px;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: var(--accent-color-light-2);
    }

    &.active {
      background: var(--accent-color);
      color: white;
    }
  }
}
