.ToolSidebar {
  padding-block: 12px;

  &-section {
    &:first-child {
      .ToolSidebar-section-title {
        padding-top: 0;
      }
    }

    &-title {
      padding-inline: 15px;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 3px;
      padding-top: 15px;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .ToolSidebar-section-title {
    user-select: none;
  }

  .ToolSidebarItem {
    img {
      filter: var(--tool-sidebar-icon-color);
    }
    &.active {
      img {
        filter: var(--tool-sidebar-icon-color-active);
      }
    }
  }
}
