.AppSidebarContent {
  border-right: 1px solid var(--border-color);
  width: 100%;
  max-width: var(--sidebar-width);
  padding-top: 5px;
  overflow: auto;
  background-color: #ffffff;
  transition: margin-left 0.2s;
  z-index: 2;

  &.hidden {
    margin-left: calc(0px - var(--sidebar-width));
    border-right: none;
  }

  &.float-unpinned {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}
