.SelectInput {
  display: flex;
  flex-direction: column;

  select {
    opacity: 1;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--input-output-background-color);
    padding: var(--input-output-padding);
    outline: none;
    transition: all var(--transition-speed);

    &:hover {
      border-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 20%);
    }

    option {
      padding: 10px;
      background-color: var(--input-output-background-color);
    }
  }
}
