.TextInput {
  display: flex;
  flex-direction: column;

  input {
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    outline: none !important;
    font-size: 14px;
    line-height: 1;
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    background-color: var(--input-background-color);
    font-family: var(--font-family-mono);
    transition: all 0.15s;

    &:hover {
      border: 1px solid var(--accent-color-light-60);
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
}

.ToolAreaInput.horizontal {
  .TextInput {
    flex: 1;
  }
}
