.TextOutput {
  position: relative;
  display: flex;
  flex-direction: column;

  input {
    white-space-collapse: preserve;
    font-family: var(--font-family-mono);
    font-size: var(--input-output-font-size);
    line-height: 1;
    background-color: var(--output-background-color);
    transition: all 0.15s;

    overflow: auto;
    padding: var(--output-padding);
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    &:hover {
      border: 1px solid var(--accent-color-light-60);
    }

    &:focus {
      border: 1px solid var(--accent-color);
      outline: none;
    }
  }
}

.ToolAreaOutput.horizontal {
  .TextOutput {
    flex: 1;
  }
}
