.TextOutput {
  position: relative;
  display: flex;
  flex-direction: column;

  input {
    white-space-collapse: preserve;
    font-family: var(--font-family-mono);
    font-size: var(--input-output-font-size);
    background-color: var(--input-output-background-color);
    transition: all var(--transition-speed);

    overflow: auto;
    padding: var(--input-output-padding);
    text-wrap: nowrap;
    border: 1px solid var(--input-output-border-color);
    border-radius: var(--border-radius);

    &:hover {
      border-color: var(--input-output-border-color-hover);
    }

    &:focus {
      outline: none;
      border-color: var(--input-output-border-color-active);
    }
  }
}
