.AppTitlebar {
  height: var(--app-titlebar-height);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-titlebar-background-color);
  border-bottom: 1px solid var(--border-color);
}
