.PintoraOutput {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.PintoraOutput-inner {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PintoraOutput-output {
  display: none;
}
