.SingleTextOutput {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .box-container {
    position: relative;
    display: flex;
    flex: 1;
  }

  .box {
    white-space-collapse: preserve;
    font-family: monospace;
    font-size: 14px;
    line-height: 1;
    background-color: #f9f9f9;

    overflow: auto;
    padding: var(--output-padding);
    text-wrap: nowrap;
    border: 1px solid #dadada;
    border-radius: var(--border-radius);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    outline: none !important;

    &:hover {
      border: 1px solid color-mix(in srgb, var(--accent-color), #ffffff 65%);
    }
  }
}
