.SettingsSidebar {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .section {
    .section-title {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .section-list {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      gap: 5px;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        height: 30px;
      }
    }
  }
}
