.SettingsSidebar {
  padding: 0 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .section {
    .section-title {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .section-list {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--border-color);
      border-radius: 4px;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        padding: 4px 5px;
        font-size: 12px;
      }
    }
  }
}
