.ToolHeader {
  display: flex;
  gap: 0px;
  padding: 0 15px;
  align-items: center;
  height: var(--tool-header-height);
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  background-color: var(--tool-header-background-color);
  position: sticky;
  z-index: 1;
  top: 0;

  .ToolHeader-title {
    font-weight: 500;
  }

  .ToolHeader-button-list {
    display: flex;
    gap: 5px;
  }

  .toolbar-button {
    border: 1px solid var(--border-color);
    background: transparent;
    border-radius: var(--border-radius);
    padding: 2px 8px;
    user-select: none;
    cursor: pointer;
    font-family: "Inter";
    display: flex;
    align-items: center;
    font-size: var(--font-size);

    &:hover {
      background: rgb(241, 241, 241);
    }

    &:active {
      background: rgb(224, 224, 224);
    }

    img {
      width: 12px;
      margin-right: 5px;
    }
  }
}
