.AppletBatchModeHeader {
  display: flex;
  gap: 0;
  padding: 0 10px;
  align-items: center;
  min-height: var(--applet-header-height);
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  background-color: var(--applet-header-background-color);
  position: sticky;
  z-index: 0;
  top: 0;
  margin-top: calc(0px - var(--applet-header-height) - 1px);
  transition: all var(--transition-speed);

  &.show {
    margin-top: 0;
  }
}

.AppletBatchModeHeader-button-list {
  display: flex;
  gap: 5px;
}
