.AppletBatchModeHeader {
  display: flex;
  gap: 0;
  align-items: center;
  transition: all var(--transition-speed);
  height: 0;
  overflow: hidden;

  &.show {
    height: auto;
    margin-top: 10px;
  }
}

.AppletBatchModeHeader-button-list {
  display: flex;
  gap: 5px;
}
