.TextAreaOutput {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  textarea {
    flex: 1;
    border-radius: var(--border-radius);
    padding: var(--input-output-padding);
    outline: none !important;
    font-size: var(--input-output-font-size);
    line-height: 1.15;
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    background-color: var(--input-output-background-color);
    resize: none;
    transition: all var(--transition-speed);
    font-family: var(--font-family-mono);

    &:hover {
      border-color: var(--input-output-border-color-hover);
    }

    &:focus {
      border-color: var(--input-output-border-color-active);
    }
  }
}

.AppRoot.TextAreaWordWrap {
  .TextAreaOutput textarea {
    text-wrap: wrap;
  }
}
