$border-radius: var(--border-radius);

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .Switch {
    display: flex;
    align-items: center;
  }
  .Switch input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 0px rgba(39, 94, 254, .3);
    --border: var(--border-color);
    --border-hover: var(--border-color);
    --background: var(--input-output-background-color);
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    appearance: none;
    height: 19px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--input-output-border-color));
    background: var(--b, var(--background));
    transition: background var(--animation-speed), border-color var(--animation-speed), box-shadow var(--animation-speed);
  }
  .Switch input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, var(--animation-speed)) var(--d-t-e, ease), opacity var(--d-o, var(--animation-speed));
  }
  .Switch input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.1, .85, 0, 1.2);
  }
  .Switch input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .Switch input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--input-output-border-color);
  }
  .Switch input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .Switch input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .Switch input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .Switch input[type=checkbox] {
    width: 19px;
  }
  .Switch input[type=checkbox]:after {
    opacity: var(--o, 0);
  }
  .Switch input[type=checkbox]:checked {
    --o: 1;
  }
  .Switch input[type=checkbox] + label {
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
    line-height: 21px;
    height: 21px;
  }

  .Switch input[type=checkbox] {
    border-radius: $border-radius;
  }
  .Switch input[type=checkbox]:after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 2px;
    transform: rotate(var(--r, 20deg));
  }
  .Switch input[type=checkbox]:checked {
    --r: 43deg;
  }
}

.Switch * {
  box-sizing: inherit;
}
.Switch *:before,
.Switch *:after {
  box-sizing: inherit;
}
