$padding: 10px;

html, body {
  margin: 0;
  padding: 0;
}

html {
  // Colors
  --accent-color: #0163e1;
  --accent-color-light: color-mix(in srgb, var(--accent-color), #ffffff 65%);
  --accent-color-light-2: color-mix(in srgb, var(--accent-color), #ffffff 85%);

  --border-color: #DADADA;

  // General
  --border-radius: 4px;

  // App Content
  --background-color-content: #ffffff;

  // App Statusbar
  --background-color-statusbar: #f6f6f6;

  // Input component styles
  --input-padding: 10px;

  // Output component styles
  --output-padding: 10px;

  // Input and output component styles
  --input-output-label-spacing: 10px;

  // Sidebar
  --sidebar-width: 250px;
  --sidebar-background-color: #f6f6f6;

  // Tool Header
  --tool-header-background-color: #ffffff;
}

button {
  border: none;
  background: transparent;
  border-radius: var(--border-radius);
  padding: 3px 9px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: rgb(241, 241, 241);
  }

  &:active {
    background: rgb(224, 224, 224);
  }
}

.InputOutputLabel {
  line-height: 1;
  margin-bottom: var(--input-output-label-spacing);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.AppRoot {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.AppContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color-content);
}

.AppContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}
