$color-border: #DADADA;
$padding: 10px;

html, body {
  margin: 0;
  padding: 0;
}

html {
  --accent-color: #0163e1;
  --border-color: #DADADA;
  --background-color-sidebar: #f6f6f6;
  --background-color-content: #ffffff;
  --background-color-statusbar: #f6f6f6;
  --border-radius: 4px;
}

button {
  border: none;
  background: transparent;
  border-radius: var(--border-radius);
  padding: 3px 9px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: rgb(241, 241, 241);
  }

  &:active {
    background: rgb(224, 224, 224);
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.AppRoot {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.AppContainer {
  display: flex;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color-content);
}

.AppContent {
  width: 100%;
  display: flex;
  flex-direction: column;

  .AppContentToolbar {
    display: flex;
    gap: 0px;
    padding: 4px 15px;
    border-bottom: 1px solid $color-border;
    justify-content: space-between;

    .AppContentToolbar-title {
      font-weight: 500;
    }

    .AppContentToolbar-button {
      display: flex;
    }
  }

  .AppContent-area {
    flex: 1;
    display: grid;
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .area-content {
      height: 100%;
    }

    .input-area, .output-area {
      display: flex;
      flex-direction: column;
      overflow: auto;
      position: relative;
    }

    .input-area {
      border-right: 1px solid $color-border;
    }

    .area-content {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .area-content-padded {
      padding: 15px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
