.ToolTabbar {
  position: relative;
  background-color: var(--background-color-main);
  height: var(--tool-tabbar-height);

  .simplebar-offset::after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
  }

  .simplebar-track.simplebar-horizontal {
    height: 6px;
    border-radius: 0;
  }
}

.ToolTabbar-inner {
  display: flex;
  position: absolute;
  inset: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.ToolTabbar-item {
  padding: 5px 10px;
  padding-right: 5px;
  padding-top: 3px;
  border-right: 1px solid var(--border-color);
  user-select: none;
  color: var(--tool-tabbar-text-color);
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid transparent;
  border-top: 2px solid transparent;
  white-space: nowrap;

  &:hover {
    background: var(--button-hover-color);
    cursor: pointer;

    .ToolTabbar-icon {
      opacity: 1;
    }
  }

  &.active {
    color: var(--tool-tabbar-text-color-active);
    background-color: var(--tool-header-background-color);
    z-index: 1;
    border-bottom: 1px solid var(--tool-header-background-color);
    border-top: 2px solid var(--accent-color  );
  }

  &.new {
    padding-inline: 5px;
    height: calc(var(--tool-tabbar-height) - 11px);

    .ToolTabbar-icon {
      opacity: 1;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.ToolTabbar-icon {
  display: flex;
  border-radius: var(--border-radius);
  padding: 3px;
  opacity: 0;

  img {
    width: 12px;
    filter: var(--icon-color);
  }

  &:hover {
    background-color: var(--button-hover-color);
  }
}

.ToolTabbar-inner-simplebar {
  width: 100%;

  .simplebar-content {
    display: flex;
  }
}
