.AppSidebar {
  width: 100%;
  max-width: 45px;
  overflow: auto;
  background-color: var(--background-color-main);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 3px;
  padding-left: 1px;

  .AppSidebarItem {
    margin: 0 4px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    height: 25px;
    position: relative;

    &::before {
      content: "";
      width: 4px;
      height: 70%;
      left: -1px;
      background-color: var(--accent-color);
      border-radius: 100px;
      position: absolute;
      opacity: 0;
      transition: all 0.15s;
    }

    &:hover {
      background-color: color-mix(in srgb, var(--sidebar-background-color), var(--opposite-color) 7%);
      cursor: pointer;
    }

    &.active {
      background-color: color-mix(in srgb, var(--sidebar-background-color), var(--opposite-color) 7%);

      &::before {
        opacity: 1;
      }
    }

    img {
      user-select: none;
      display: flex;
      align-items: center;
      width: 21px;
      margin: auto;
      filter: var(--icon-filter-color);
    }

    .tooltip {
      display: none;
      position: fixed;
      margin-left: 40px;
      padding: 2px 5px;
      background-color: #333;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
    }

    &:hover .tooltip {
      display: block;
    }
  }
}
