.ActivityBarItem {
  margin: 0 5px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 5px;
  height: var(--activitybar-item-height);
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 70%;
    left: -1px;
    background-color: var(--color-primary);
    position: absolute;
    opacity: 0;
    transition: all var(--animation-speed);
  }

  &:hover {
    background-color: var(--activitybar-item-background-color-hover);
    cursor: pointer;
  }

  &.active {
    background-color: var(--activitybar-item-background-color-active);

    &::before {
      opacity: 1;
    }
  }

  img {
    user-select: none;
    display: flex;
    align-items: center;
    width: 21px;
    margin: auto;
    filter: var(--icon-color-filter);
  }

  &:hover .tooltip {
    display: block;
  }
}
