.ActivityBar {
  width: 100%;
  max-width: var(--activitybar-width);
  overflow: auto;
  background-color: var(--background-color-main);
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  padding-left: 1px;
  border-right: 1px solid var(--border-color);
}

.ActivityBar-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}
