.ActivityBar {
  width: 100%;
  max-width: var(--activitybar-width);
  overflow: auto;
  background-color: var(--activitybar-background-color);
  z-index: 4;
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  padding-left: 1px;
  border-right: 1px solid var(--border-color);
}

.ActivityBar-main, .ActivityBar-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ActivityBar-main {
  flex: 1;
}
