.SwitchInput {
  display: flex;
  flex-direction: column;

  .buttons {
    border: 1px solid var(--input-output-border-color);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    grid-auto-flow: row dense;
    gap: 3px;
    padding: 4px;
    background-color: var(--input-output-background-color);

    .button {
      flex: 1;
      text-align: center;
      padding: 2px;
      border-radius: var(--border-radius);
      user-select: none;
      transition: background-color var(--transition-speed);
      background-color: transparent;

      &:hover {
        cursor: pointer;
        background-color: color-mix(in srgb, var(--background-color-main), var(--opposite-color) 15%);
      }

      &.active {
        background: var(--accent-color);
        color: white;
      }
    }
  }

  &.read-only {
    .buttons .button {
      &:hover {
        cursor: default;
        background-color: transparent;
      }

      &.active:hover {
        background: var(--accent-color);
      }
    }
  }
}
