.AppletComponentHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: var(--input-output-label-spacing);
}

.AppletComponentHead-label {

}

.AppletComponentHead-buttons {

}
